<ion-view hide-nav-bar="true" view-title="Profile">
  <ion-content has-header="true" style="background: #EAEAEA">
        <div id="profile-bg"></div>
        <div class="profile-header"></div>
        <div id="content">
          <div id="profile-info">
            <img id="profile-image" src="../img/ben.jpg">
            <h3 id="profile-name">I'm Tim</h3>
          </div>

          <div class="card" style="padding-bottom: 12px;">
            <div class="item item-text-wrap profileCard">
            	<div class="col-xs-2">
            		<img class="iLiveAtIcon" src="img/Address-Icon@2x.png" alt="">
            	</div>
              	<div class="col-xs-10">
              		<h2 class="subtitleProfile">I live at:</h2>
              		<h2>155 Gibbs Street</h2>
              		<h2>Rockville, MD xxxxx</h2>
              	</div>
            </div>
          </div>

          <div class="card">
            <div class="item item-text-wrap profileCard">
            	<div class="col-xs-2">
            		<img class="iLiveAtIcon" src="img/Like-Icon@2x.png" alt="">
            	</div>
              	<div class="col-xs-10">
              		<h2 class="subtitleProfile">Stuff I like:</h2>
              		<ul>
              			<li>Star Wars</li>
              			<li>Swimming</li>
              			<li>Chipotle</li>
              		</ul>
              	</div>
            </div>
          </div>

          <div class="card" style="padding-bottom: 12px;">
            <div class="item item-text-wrap profileCard">
            	<div class="col-xs-2">
            		<img class="iLiveAtIcon" src="img/MySchool-Icon@2x.png" alt="">
            	</div>
              	<div class="col-xs-10">
              		<h2 class="subtitleProfile">I go to School at:</h2>
              		<h2>Montgomery Blair High School</h2>
              	</div>
            </div>
          </div>

          <div class="card">
            <div class="item item-text-wrap profileCard">
            	<div class="col-xs-2">
            		<img class="iLiveAtIcon" src="img/MyWork-Icon@2x.png" alt="">
            	</div>
              	<div class="col-xs-10">
              		<h2 class="subtitleProfile">I work at:</h2>
              		<ul>
              			<li>GIANT</li>
              			<li>Other workplace</li>
              		</ul>
              	</div>
            </div>
          </div>

        </div>
      </ion-content>
</ion-view>
