<ion-view hide-nav-bar="true" view-title="help">
  <ion-content class="helpWords" ng-controller="HelpCtrl">
  	<h3 id="helpTitle">Help Words</h3>
    <ul class="list">
        <li class="item item-icon-left helpBorder" ng-click="speak()"
        ng-repeat="phrase in user.phrases">
          <div class="col-xs-1">
          	<img src="img/Lost@2x.png" class="helpIcon">
          </div>
          <div class="col-xs-7">
          	<span class="valign subtitleProfile">{{ phrase.text }}</span>
          </div>
          <div class="col-xs-1">
          	<img src="img/speak.png" class="valign speaker">
          </div>
          <div class="col-xs-2">
          	<a class="button button-small button-assertive speakButton valign">
          	  Speak
          	</a>
          </div>
        </li>
    </ul>
  </ion-content>
</ion-view>
