<ion-view hide-nav-bar="true" view-title="Profile">
  <ion-content has-header="true" style="background: #EAEAEA">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
    <div id="profile-bg"></div>
    <div class="profile-header"></div>
    <div id="content" class="profile-content">
      <div id="profile-info">
        <img id="profile-image" src="{{ user.photo }}">
        <h2 id="profile-name">I'm {{ user.first_name }}</h2>
      </div>

      <div class="card" style="padding-bottom: 12px;">
        <div class="item item-text-wrap profileCard">
          <div class="col-xs-2">
            <div class="iLiveAtIcon homeIcon">
              <i class="fa fa-home" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-10">
            <h2 class="subtitleProfile">I live at:</h2>
            <h2>{{ user.street }}</h2>
            <h2>{{ user.city }}, {{ user.state }} {{ user.zipcode }}</h2>
          </div>
        </div>
      </div>

      <div class="card" style="padding-bottom: 12px;">
        <div class="item item-text-wrap profileCard">
          <div class="col-xs-2">
            <img class="iLiveAtIcon" src="img/Like-Icon@2x.png" alt="">
          </div>
          <div class="col-xs-10">
            <h2 class="subtitleProfile">Stuff I like:</h2>
            <ul>
              <li>{{ user.stuff_i_like }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card" style="padding-bottom: 12px;">
        <div class="item item-text-wrap profileCard">
          <div class="col-xs-2">
            <img class="iLiveAtIcon" src="img/MySchool-Icon@2x.png" alt="">
          </div>
          <div class="col-xs-10">
            <h2 class="subtitleProfile">I go to School at:</h2>
            <ul>
              <li>{{ user.school }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card" style="padding-bottom: 12px;">
        <div class="item item-text-wrap profileCard">
          <div class="col-xs-2">
            <img class="iLiveAtIcon" src="img/MyWork-Icon@2x.png" alt="">
          </div>
          <div class="col-xs-10">
            <h2 class="subtitleProfile">I work at:</h2>
            <ul>
              <li>{{ user.work }}</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
