<ion-view hide-nav-bar="true" view-title="help">
  <ion-content class="helpWords">
  	<h3 id="helpTitle">Help Words</h3>
    <ul class="list">
        <li class="item item-icon-left helpBorder">
          <div class="col-xs-1">
          	<img src="img/Lost@2x.png" class="helpIcon">
          </div>
          <div class="col-xs-7">
          	<span class="valign subtitleProfile">I am lost.</span>
          </div>
          <div class="col-xs-1">
          	<img src="img/speak.png" class="valign speaker">
          </div>
          <div class="col-xs-2">
          	<a class="button button-small button-assertive speakButton valign">
          	  Speak
          	</a>
          </div>
        </li>

        <li class="item item-icon-left helpBorder">
          <div class="col-xs-1">
          	<img src="img/Sick.png" class="helpIcon">
          </div>
          <div class="col-xs-7">
          	<span class="valign subtitleProfile">I am sick.</span>
          </div>
          <div class="col-xs-1">
          	<img src="img/speak.png" class="valign speaker">
          </div>
          <div class="col-xs-2">
          	<a class="button button-small button-assertive speakButton valign">
          	  Speak
          	</a>
          </div>
        </li>

        <li class="item item-icon-left helpBorder">
          <div class="col-xs-1">
          	<img src="img/Hurt.png" class="helpIcon">
          </div>
          <div class="col-xs-7">
          	<span class="valign subtitleProfile">I am hurt.</span>
          </div>
          <div class="col-xs-1">
          	<img src="img/speak.png" class="valign speaker">
          </div>
          <div class="col-xs-2">
          	<a class="button button-small button-assertive speakButton valign">
          	  Speak
          	</a>
          </div>
        </li>

        <li class="item item-icon-left helpBorder">
          <div class="col-xs-1">
          	<img src="img/Help.png" class="helpIcon">
          </div>
          <div class="col-xs-7">
          	<span class="valign subtitleProfile">I need help.</span>
          </div>
          <div class="col-xs-1">
          	<img src="img/speak.png" class="valign speaker">
          </div>
          <div class="col-xs-2">
          	<a class="button button-small button-assertive speakButton valign">
          	  Speak
          	</a>
          </div>
        </li>

        <li class="item item-icon-left helpBorder">
          <div class="col-xs-1">
          	<img src="img/bathroom.png" class="helpIcon">
          </div>
          <div class="col-xs-7">
          	<span class="valign subtitleProfile">Where is the bathroom?</span>
          </div>
          <div class="col-xs-1">
          	<img src="img/speak.png" class="valign speaker">
          </div>
          <div class="col-xs-2">
          	<a class="button button-small button-assertive speakButton valign">
          	  Speak
          	</a>
          </div>
        </li>

        <li class="item item-icon-left helpBorder">
          <div class="col-xs-1">
          	<img src="img/how-do-this.png" class="helpIcon">
          </div>
          <div class="col-xs-7">
          	<span class="valign subtitleProfile">How can I do this?</span>
          </div>
          <div class="col-xs-1">
          	<img src="img/speak.png" class="valign speaker">
          </div>
          <div class="col-xs-2">
          	<a class="button button-small button-assertive speakButton valign">
          	  Speak
          	</a>
          </div>
        </li>

        <li class="item item-icon-left helpBorder">
          <div class="col-xs-1">
          	<img src="img/Who can help.png" class="helpIcon">
          </div>
          <div class="col-xs-7">
          	<span class="valign subtitleProfile">Who can help me?</span>
          </div>
          <div class="col-xs-1">
          	<img src="img/speak.png" class="valign speaker">
          </div>
          <div class="col-xs-2">
          	<a class="button button-small button-assertive speakButton valign">
          	  Speak
          	</a>
          </div>
        </li>

        <li class="item item-icon-left helpBorder">
          <div class="col-xs-1">
          	<img src="img/next steps.png" class="helpIcon">
          </div>
          <div class="col-xs-7">
          	<span class="valign subtitleProfile">What is the next step?</span>
          </div>
          <div class="col-xs-1">
          	<img src="img/speak.png" class="valign speaker">
          </div>
          <div class="col-xs-2">
          	<a class="button button-small button-assertive speakButton valign">
          	  Speak
          	</a>
          </div>
        </li>

        <li class="item item-icon-left helpBorder">
          <div class="col-xs-1">
          	<img src="img/when-finished.png" class="helpIcon">
          </div>
          <div class="col-xs-7">
          	<span class="valign subtitleProfile">When am I finished?</span>
          </div>
          <div class="col-xs-1">
          	<img src="img/speak.png" class="valign speaker">
          </div>
          <div class="col-xs-2">
          	<a class="button button-small button-assertive speakButton valign">
          	  Speak
          	</a>
          </div>
        </li>

    </ul>
  </ion-content>
</ion-view>
