<ion-view hide-nav-bar="true" view-title="Schedule" ng-controller="HomeCtrl">
  <ion-content ng-controller="PanelController as panel">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
    <div class="container">
      <div class="row row-centered">
        <div class="col-xs-4 col-centered" ng-hide="showWk">
          <a ng-click="changeDate(-1)" class="button icon-left ion-chevron-left arrows"></a>
        </div>

        <div class="col-xs-4 col-centered" ng-show="showWk">
          <a ng-click="changeWeek(-7)" class="button icon-left ion-chevron-left arrows"></a>
        </div>

        <div class="col-xs-5 col-centered scheduleTitle" ng-if="getTod" ng-hide="showWk">
          <h3 ng-if="yesToday" class="text-center">Today</h3>
          <h3 ng-if="!yesToday" class="text-center">{{ target | date: 'MMMM dd' }}</h3>
          <h6 class="text-center weekInfo">{{ target | date:'MMMM dd, yyyy'}}</h6>
        </div>

        <div class="col-xs-6 col-centered scheduleTitle" ng-show="showWk" ng-hide="getTod">
          <h3 class="text-center">{{ week.first_day}} - {{ week.last_day }}</h3>
          <!-- <h6 ng-if="currentWeek" ng-show="showWk" ng-hide="showToday" class="text-center weekInfo">WEEK OF {{ targetMonth | uppercase }} {{ targetDay }}</h6>
          <h6 ng-if="nextWeek" ng-show="showWk" ng-hide="showToday" class="text-center weekInfo">WEEK OF MAY 22</h6> -->
        </div>

        <div class="col-xs-4 col-centered" ng-if="getTod" ng-hide="showWk">
          <a ng-click="changeDate(1)" class="button icon-right ion-chevron-right arrows"></a>
        </div>

        <div class="col-xs-4 col-centered" ng-show="showWk">
          <a ng-click="changeWeek(7)" class="button icon-right ion-chevron-right arrows"></a>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row row-centered">
        <ul class="nav nav-pills col-xs-12 col-centered" style="line-height: 12px;">
          <li ng-class="{ active: panel.isSelected(1) }" class="text-center listSchedule"><a href="" ng-click="panel.selectTab(1);showDay();showWk=false" class="dayList">Day</a></li>
          <li ng-class="{ active: panel.isSelected(2) }" class="text-center listSchedule"><a href="" ng-click="panel.selectTab(2);showWeek();showWk=true">Week</a></li>
        </ul>
    </div>

      <!-- START DAY SECTION -->
      <div class="panel dayPanel" ng-show="panel.isSelected(1)">
        <!-- <div class="dateSchedule">
          <h6>{{ targetMonth | uppercase}} {{ targetDay }} {{targetYear}}</h6>
        </div> -->
        <v-accordion class="vAccordion--default" multiple>
          <v-pane expanded='timeMorning'>
            <v-pane-header>
              <span class="ion-android-sunny" style="color: #F9B71A;"></span>MORNING
            </v-pane-header>

            <v-pane-content>
              <a href="#/tab/task-view/{{task.task.pk}}/{{ targetDate }}" class="button icon-right arrow2 taskCard"  ng-repeat="task in 
              events.morning" ng-class="{ 'success': task.task.status=='done'}">
                <div class="col-xs-1 morningBorderBox"
                style="background-color:{{ task.task.task_type.color }}"></div>
                <div class="col-xs-2">
                  <img src="{{ task.task.task_type.image }}" class="icon2" alt="">
                </div>
                <div class="col-xs-8">
                  <h6 class="time">{{ task.start_time | date : 'YYYY' }}-{{ task.end_time }}</h6>
                  <h5 class="task">{{ task.title }} <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                </div>
              </a>
            </v-pane-content>
          </v-pane>

          <v-pane expanded='timeAfternoon'>
            <v-pane-header>
              <span class="ion-ios-cloud-outline" style="color: #20A7E1"></span>AFTERNOON
            </v-pane-header>

            <v-pane-content>
              <a href="#/tab/task-view/{{task.task.pk}}/{{ targetDate }}" class="button icon-right arrow2 taskCard"  ng-repeat="task in events.afternoon" ng-class="{ 'success': task.task.status=='done'}">
                <div class="col-xs-1 afternoonBorderBox"
                style="background-color:{{ task.task.task_type.color }}"></div>
                <div class="col-xs-2">
                  <img src="{{ task.task.task_type.image }}" class="icon2" alt="">
                </div>
                <div class="col-xs-8">
                  <h6 class="time">{{ task.start_time }}-{{ task.end_time }}</h6>
                  <h5 class="task">{{ task.title }} <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                </div>
              </a>
            </v-pane-content>
          </v-pane>

          <v-pane expanded='timeNight'>
            <v-pane-header>
              <span class="ion-ios-moon-outline" style="color: #462C83"></span>EVENING
            </v-pane-header>

            <v-pane-content>
              <a href="#/tab/task-view/{{task.task.pk}}/{{ targetDate }}" class="button icon-right arrow2 taskCard" ng-repeat="task in events.evening" ng-class="task.task.status='done' ? 'success' : 'clear'">
                <div class="col-xs-1 eveningBorderBox"
                style="background-color:{{ task.task.task_type.color }}"></div>
                <div class="col-xs-2">
                  <img src="{{ task.task.task_type.image }}" class="icon2" alt="">
                </div>
                <div class="col-xs-8">
                  <h6 class="time">{{ task.start_time }}-{{ task.end_time }}</h6>
                  <h5 class="task">{{ task.title }} <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                </div>
              </a>
            </v-pane-content>
          </v-pane>

        </v-accordion>
      </div>
      <!-- END DAY SECTION -->

      <!-- START WEEK SECTION -->
      <div class="panel weekPanel" style="margin-top: 20px;" ng-show="panel.isSelected(2)">
        <v-accordion class="vAccordion--default" multiple>

          <v-pane ng-repeat="dow in days_of_week">
            <v-pane-header>
              <h5 ng-if="currentWeek" class="weekDay">{{ dow }} {{ monthNames[week[dow].month] }} {{ week[dow].date }}
                <span class="taskQuantity">
                ({{ week[dow].morning.length + week[dow].afternoon.length + week[dow].evening.length}})
              </span>
            </h5>
            </v-pane-header>

            <v-pane-content>
              <a href="#/tab/task-view/{{ task.task.pk }}/{{ targetDate }}" class="button icon-right arrow2 taskCard" ng-show="currentWeek"
               ng-repeat="task in week[dow].morning" ng-class="task.task.status='done' ? 'success' : 'clear'">
                <div class="col-xs-1 morningBorderBox"
                  style="background-color:{{ task.task.task_type.color }}"></div>
                <div class="col-xs-2">
                  <img src="{{ task.task.task_type.image }}" class="icon2" alt="">
                </div>
                <div class="col-xs-8">
                  <h6 class="time">{{ task.start_time }}-{{ task.end_time }}</h6>
                  <h5 class="task">{{ task.title }}<i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                </div>
              </a>
              <a href="#/tab/task-view/{{ task.task.pk }}/{{ targetDate }}" class="button icon-right arrow2 taskCard" ng-show="currentWeek"
               ng-repeat="task in week[dow].afternoon" ng-class="task.task.status='done' ? 'success' : 'clear'">
                <div class="col-xs-1 morningBorderBox"
                  style="background-color:{{ task.task.task_type.color }}"></div>
                <div class="col-xs-2">
                  <img src="{{ task.task.task_type.image }}" class="icon2" alt="">
                </div>
                <div class="col-xs-8">
                  <h6 class="time">{{ task.start_time }}-{{ task.end_time }}</h6>
                  <h5 class="task">{{ task.title }}<i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                </div>
              </a>
              <a href="#/tab/task-view/{{ task.task.pk }}/{{ targetDate }}" class="button icon-right arrow2 taskCard" ng-show="currentWeek"
               ng-repeat="task in week[dow].evening" ng-class="task.task.status='done' ? 'success' : 'clear'">
                <div class="col-xs-1 morningBorderBox"
                style="background-color:{{ task.task.task_type.color }}"></div>
                <div class="col-xs-2">
                  <img src="{{ task.task.task_type.image }}" class="icon2" alt="">
                </div>
                <div class="col-xs-8">
                  <h6 class="time">{{ task.start_time }}-{{ task.end_time }}</h6>
                  <h5 class="task">{{ task.title }}<i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                </div>
              </a>

            </v-pane-content>
          </v-pane>



        </v-accordion>
      </div>
    </div>
  </ion-content>
</ion-view>
<!-- END WEEK SECTION -->
