<ion-view hide-nav-bar="true" view-title="Schedule">
  <ion-content>
    <div class="container">
      <div class="row" style="margin: 0!important">
        <div class="col-xs-2"></div>
        <div class="col-xs-2" style="padding: 0!important">
          
        </div>
        <div ng-controller="HomeCtrl" class="row scheduleTitle">
          
        </div>
        <div class="col-xs-2" style="padding: 0!important" ng-controller="HomeCtrl">
        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>
    <div class="container" ng-controller="PanelController as panel">
      <ul class="nav nav-pills" style="margin-top: 40px; line-height: 12px;">
        <li ng-class="{ active: panel.isSelected(1) }" class="text-center listSchedule"><a href="" ng-click="panel.selectTab(1);showDay()" class="dayList">Day</a></li>
        <li ng-class="{ active: panel.isSelected(2) }" class="text-center listSchedule"><a href="" ng-click="panel.selectTab(2);showWeek()">Week</a></li>
      </ul>

      <!-- START DAY SECTION -->
      <div class="panel dayPanel" ng-show="panel.isSelected(1)" ng-controller="HomeCtrl">
      <a ng-click="changeDate(-1)" class="button icon-left ion-chevron-left leftArrow"></a>
          <h3>{{ targetDate }}</h3>
          <a ng-click="changeDate(1)" class="button icon-right ion-chevron-right leftArrow"></a>
        <div class="dateSchedule">
          <h6>{{ }} {{targetDate | date:'MMMM dd' | uppercase}}</h6>
        </div>
        <v-accordion class="vAccordion--default" multiple>
          <v-pane>
            <v-pane-header>
              <span class="ion-android-sunny" style="color: #F9B71A;"></span>MORNING
            </v-pane-header>

            <v-pane-content>
              <a ng-hide="getTomo" href="#/tab/task-view/{{task.task.pk}}" class="button icon-right arrow2 taskCard"  ng-repeat="task in events.morning">
                <div class="col-xs-1 morningBorderBox"></div>
                <div class="col-xs-2">
                  <img src="img/icon.png" class="icon2" alt="">
                </div>
                <div class="col-xs-8">
                  <h6 class="time">{{ task.start_time }}-{{ task.end_time }}</h6>
                  <h5 class="task">{{ task.title }} <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                </div>
              </a>
            </v-pane-content>
          </v-pane>

          <v-pane>
            <v-pane-header>
              <span class="ion-ios-cloud-outline" style="color: #20A7E1"></span>AFTERNOON
            </v-pane-header>

            <v-pane-content>
              <a ng-hide="getTomo" href="#/tab/task-view/{{task.task.pk}}" class="button icon-right arrow2 taskCard"  ng-repeat="task in events.afternoon">
                <div class="col-xs-1 afternoonBorderBox"></div>
                <div class="col-xs-2">
                  <img src="img/icon.png" class="icon2" alt="">
                </div>
                <div class="col-xs-8">
                  <h6 class="time">{{ task.start_time }}-{{ task.end_time }}</h6>
                  <h5 class="task">{{ task.title }} <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                </div>
              </a>
            </v-pane-content>
          </v-pane>

          <v-pane>
            <v-pane-header>
              <span class="ion-ios-moon-outline" style="color: #462C83"></span>EVENING
            </v-pane-header>

            <v-pane-content>
              <a ng-hide="getTomo" href="#/tab/task-view/{{task.task.pk}}" class="button icon-right arrow2 taskCard"  ng-repeat="task in events.evening">
                <div class="col-xs-1 eveningBorderBox"></div>
                <div class="col-xs-2">
                  <img src="img/icon.png" class="icon2" alt="">
                </div>
                <div class="col-xs-8">
                  <h6 class="time">{{ task.start_time }}-{{ task.end_time }}</h6>
                  <h5 class="task">{{ task.title }} <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                </div>
              </a>
            </v-pane-content>
          </v-pane>

        </v-accordion>
      </div>
      <!-- END DAY SECTION -->

      <!-- START WEEK SECTION -->
      <div class="panel weekPanel" style="margin-top: 20px;" ng-show="panel.isSelected(2)" ng-controller="HomeCtrl">
        <v-accordion class="vAccordion--default" multiple>

          <v-pane ng-repeat="dow in days_of_week">
            <v-pane-header>
              <h5 ng-if="currentWeek" class="weekDay">{{ dow }} {{ monthNames[week[dow].month] }} {{ week[dow].date }} <span class="taskQuantity">
                ({{ week[dow].morning.length + week[dow].afternoon.length + week[dow].evening.length}})
              </span></h5>
              <h5 ng-if="nextWeek" class="weekDay">{{ dow }} {{ monthNames[week[dow].month] }} {{ week[dow].date }} <span class="taskQuantity">(1)</span></h5>
            </v-pane-header>

            <v-pane-content>
              <a href="#/tab/task-view/{{ task.task.pk }}" class="button icon-right arrow2 taskCard" ng-show="currentWeek"
               ng-repeat="task in week[dow].morning">
                <div class="col-xs-1 morningBorderBox"></div>
                <div class="col-xs-2">
                  <img src="img/icon.png" class="icon2" alt="">
                </div>
                <div class="col-xs-8">
                  <h6 class="time">{{ task.start_time }}-{{ task.end_time }}</h6>
                  <h5 class="task">{{ task.title }}<i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                </div>
              </a>
              <a href="#/tab/task-view/{{ task.task.pk }}" class="button icon-right arrow2 taskCard" ng-show="currentWeek"
               ng-repeat="task in week[dow].afternoon">
                <div class="col-xs-1 morningBorderBox"></div>
                <div class="col-xs-2">
                  <img src="img/icon.png" class="icon2" alt="">
                </div>
                <div class="col-xs-8">
                  <h6 class="time">{{ task.start_time }}-{{ task.end_time }}</h6>
                  <h5 class="task">{{ task.title }}<i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                </div>
              </a>
              <a href="#/tab/task-view/{{ task.task.pk }}" class="button icon-right arrow2 taskCard" ng-show="currentWeek"
               ng-repeat="task in week[dow].evening">
                <div class="col-xs-1 morningBorderBox"></div>
                <div class="col-xs-2">
                  <img src="img/icon.png" class="icon2" alt="">
                </div>
                <div class="col-xs-8">
                  <h6 class="time">{{ task.start_time }}-{{ task.end_time }}</h6>
                  <h5 class="task">{{ task.title }}<i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
                </div>
              </a>

            </v-pane-content>
          </v-pane>

          

        </v-accordion>
      </div>
    </div>
  </ion-content>
</ion-view>
<!-- END WEEK SECTION -->
