<ion-view hide-nav-bar="true" view-title="help">
  <ion-content style="background: #EAEAEA !important;height: auto !important;bottom: 60px !important;margin-bottom: 0px;">
	<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
  	<div class="emergencyHeader">
  		<h3 id="HeadingSectionTitle">Emergency Info</h3>
  	</div>

	<div id="contentEmergency">
	  <div id="profile-info">
	    <img id="emergency-image" src="{{ user.photo }}">
	    <h5 class="subtitleProfile">My name is</h5>
	    <h3 id="profile-name">{{ user.first_name }} {{ user.last_name }}</h3>
	  </div>
	</div>

	<div class="card emergency-card" style="border-top: solid 1px #BFBFBF;">
			<div class="padding">
				<h5 class="Heading-Alert">In an emergency, contact:</h5>
			</div>

		      <div class="container" ng-repeat="contact in user.emergency_contacts">
		      	<div class="row">
		      		<div class="col-xs-3">
		      			<img id="emergency-image-red" src="{{ contact.photo }}">
		      		</div>
		      		<div class="col-xs-9" style="margin-left: 10px">
		      			<h5 class="subtitleEmergency">
		      				{{ contact.first_name }} {{ contact.last_name }}
		      			</h5>
		      			<span>{{ contact.relationship }}</span>
		      			<p><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></p>
		      		</div>
		      	</div>
		      </div>

		      <div class="padding" style="margin-top: -10px; margin-bottom: 6px;">
		      	<h4 class="subtitleEmergency2">Medical:</h4>
				<ul class="userDetails">
					<li>{{ user.medical }}</li>
				</ul>
		      </div>

		      <div class="padding" style="margin-top: -10px; margin-bottom: 6px;">
		      	<h4 class="subtitleEmergency2">At work:</h4>
				<ul class="userDetails">
					<li>{{ user.at_work }}</li>
				</ul>
		      </div>

		      <div class="padding" style="margin-top: -10px; margin-bottom: 6px;">
		      	<h4 class="subtitleEmergency2">At school:</h4>
				<ul class="userDetails">
					<li>{{ user.at_school }}</li>
				</ul>
		      </div>

		      <div class="padding" style="margin-top: -10px; margin-bottom: 6px;">
		      	<h4 class="subtitleEmergency2">You should know:</h4>
				<ul class="userDetails">
					<li>{{ user.should_know }}</li>
				</ul>
		      </div>
	</div>

  </ion-content>
</ion-view>
