<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="home" icon-on="home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Schedule Tab -->
  <ion-tab title="Schedule" icon-off="schedule" icon-on="schedule" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="profile" icon-on="profile" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <!-- Help Words Tab -->
  <ion-tab title="Help Words" icon-off="phrases" icon-on="phrases" href="#/tab/help">
    <ion-nav-view name="tab-help"></ion-nav-view>
  </ion-tab>

  <!-- Emergency Tab -->
  <ion-tab title="Emergency" icon-off="emergency" icon-on="emergency" href="#/tab/emergency">
    <ion-nav-view name="tab-emergency"></ion-nav-view>
  </ion-tab>


</ion-tabs>
