.wrapper{
	margin-left: 0;
	margin-right: 0;
	margin-top: -55px;
	padding: 0;
	display: block;
	width: auto;
	background-size: contain !important;
    position: relative;
}

.row-centered {
    text-align:center;
	margin: 0 !important;
}

.col-centered {
	display: inline-block;
    float: none !important;
}

.container, .scroll-content {
	background: #fff;
}

.bar-header {
	background: #fff;
}

.welcome {
	margin-top: -50px;
}

.morning {
	background: #FFAC38;
	background: url(../img/sun.png) no-repeat 50% 40%, -moz-linear-gradient(top, #EBC336 0%, #FFAC38 100%);
	background: url(../img/sun.png) no-repeat 50% 40%, -webkit-gradient(linear, 0% 0%,0% 100%, from(#EBC336), to(#FFAC38));
	background: url(../img/sun.png) no-repeat 50% 40%, -webkit-linear-gradient(top, #EBC336 0%,#FFAC38 100%);
	background: url(../img/sun.png) no-repeat 50% 40%, -o-linear-gradient(top, #EBC336 0%,#FFAC38 100%);
	background: url(../img/sun.png) no-repeat 50% 40%, -ms-linear-gradient(top, #EBC336 0%,#FFAC38 100%);
	background: url(../img/sun.png) no-repeat 50% 40%, linear-gradient(top, #EBC336 0%,#FFAC38 100%);
}

.afternoon {
	background: #6FAEC7;
	background: url(../img/clouds.png) no-repeat 50% 40%, -moz-linear-gradient(top, #6FAEC7 0%, #7CC1E6 100%);
	background: url(../img/clouds.png) no-repeat 50% 40%, -webkit-gradient(linear, 0% 0%,0% 100%, from(#6FAEC7), to(#7CC1E6));
	background: url(../img/clouds.png) no-repeat 50% 40%, -webkit-linear-gradient(top, #6FAEC7 0%,#7CC1E6 100%);
	background: url(../img/clouds.png) no-repeat 50% 40%, -o-linear-gradient(top, #6FAEC7 0%,#7CC1E6 100%);
	background: url(../img/clouds.png) no-repeat 50% 40%, -ms-linear-gradient(top, #6FAEC7 0%,#7CC1E6 100%);
	background: url(../img/clouds.png) no-repeat 50% 40%, linear-gradient(top, #6FAEC7 0%,#7CC1E6 100%);
}

.night {
	background: #3B84A8;
	background: url(../img/clouds.png) no-repeat 50% 40%, -moz-linear-gradient(top, #3B84A8 0%, #1E5885 100%);
	background: url(../img/clouds.png) no-repeat 50% 40%, -webkit-gradient(linear, 0% 0%,0% 100%, from(#3B84A8), to(#1E5885));
	background: url(../img/clouds.png) no-repeat 50% 40%, -webkit-linear-gradient(top, #3B84A8 0%,#1E5885 100%);
	background: url(../img/clouds.png) no-repeat 50% 40%, -o-linear-gradient(top, #3B84A8 0%,#1E5885 100%);
	background: url(../img/clouds.png) no-repeat 50% 40%, -ms-linear-gradient(top, #3B84A8 0%,#1E5885 100%);
	background: url(../img/clouds.png) no-repeat 50% 40%, linear-gradient(top, #3B84A8 0%,#1E5885 100%);
}

.HomeTitle{
	color: #fff;
	margin: 180px 0 36px 0!important;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 33px;
	line-height: 40px;
}

.HomeDay {
	margin-top: -20px;
	color: #fff;
	font-family: 'Roboto Slab', serif;;
	font-weight: bold;
	font-size: 35px;
	line-height: 40px;
}

.HomeMonth {
	color: #fff;
	margin-top: 10px;
	font-family: 'Roboto Slab', serif;;
	font-weight: bold;
}

.HomeNumber {
	color: #fff;
	margin-top: -15px;
	font-size: 50px;
	font-weight: bold;
}

.homeTask {
	padding: 0 !important;
}

.homeNightTask {
	padding: 0 !important;
	margin: 0 -50px 0 -25px;
}

.box {
	background: #fff;
	width: auto;
	margin-top: 96px;
}

.morningBox {
	border-left: solid 32px #F9B71A;
}

.afternoonBox {
	border-left: solid 32px #408940;
}

.nightBox {
	border-left: solid 32px #462C83;
}

.defaultHeader {
	background-color: #00486e;
	height: 36px;
}

.morningHeader {
	background-color: #F9B71A;
	height: 36px;
}

.transitHeader {
	background-color: #FF7700;
	height: 36px;
}

.afternoonHeader {
	background-color: #408940;
	height: 36px;
}

.nightHeader {
	background-color: #462C83;
	height: 36px;
}

.bar-header a {
	color: #fff !important;
	margin: -3px 0px 0 93%;
}

.icon {
	margin-top: 32px;
	margin-bottom: 32px;
	margin-right: 32px;
}

.icon2 {
	margin-top: 15px;
}

.icon-left {
	float: left;
}

.up {
	margin-left: -12px;
	color: #20A7E1;
}

.hour {
	color: #00486E;
	margin-left: -12px;
}

.topic {
	color: #00486E;
	margin-left: -12px;
	font-weight: bold;
}
.arrow {
	margin-top: 16px;
	margin-bottom: 32px;
	position: relative;
    left: 50px;
    top: 15px;
	color: #20A7E1;
}

.arrows {
	margin-top: 16px;
	margin-bottom: 32px;
	position: relative;
    top: 5px;
	color: #4A4A4A !important;
	display: block;
}

.arrow2 {
	width: 100%;
}

.arrow3 {
	margin-top: -10px;
	color: #4A4A4A !important;
}

.nextStep {
	line-height: 65px;
	color: #20A7E1 !important;
}

.tabs {
	background-color: #00486E;
	padding-top: 0px;
	height: 60px;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
	color: #fff!important;
	background: #38C1F5!important;
}

ion-tabs.tabs-color-active-positive .tab-item {
	color: #fff!important;
}

.button{
	background: transparent!important;
}

a.button .icon:before, a.button.icon:before, a.button.icon-left:before, a.button.icon-right:before{
	margin-top: 12px!important;
}

.listSchedule {
	width: 50%;
	border-radius: 2px;
	border: solid 1px #20A7E1;
	height: 36px !important;
}

.scheduleTitle {
	margin-top: 40px;
	padding: 0 !important;
	color: #38ACF5;
}

.scheduleTitle h3 {
	font-weight: bold;
}

.text-center-tom {
	text-align: center;
	font-size: 23px;
}

.text-center-wk {
	text-align: center;
	font-size: 23px;
	width: 115%;
	margin: 0px 0 0px -8px;
}

.morningBorderBox {
	background: #F9B71A;
	height: 100px;
	margin: -21px 0 -21px -1px;
}

.transitBorderBox {
	background: #FF7700;
	height: 100px;
	margin: -21px 0 -21px -1px;
}

.afternoonBorderBox {
	background: #408940;
	height: 100px;
	margin: -21px 0 -21px -1px;
}

.eveningBorderBox {
	background: #462C83;
	height: 100px;
	margin: -21px 0 -21px -1px;
}

.taskCard {
	background-color: #fff !important;
	border-radius: 0;
	margin-left: 5%;
	margin-bottom: 15px;
	padding: 20px 20px 20px 0;
	width: 90%;
	-webkit-box-shadow: 1px 1px 5px 2px rgba(179,179,179,1);
	-moz-box-shadow: 1px 1px 5px 2px rgba(179,179,179,1);
	box-shadow: 1px 1px 5px 2px rgba(179,179,179,1);
}

.tube {
    width: 35px;
    margin: 0px -5px !important;
}

.nav {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.nav-pills>li.active>a {
	background-color: #20A7E1 !important;
	color: #fff !important;
	padding: 11px 15px !important;
}

.item-select select {
	background: #EEE;
}

.item {
	background: #EEE;
}

.task-item {
	background: #fff;
	border: none !important;
}

.headerTask {
	background: #fff;
	height: 145px;
	margin-top: 36px;
}

.stepsButtons {
	z-index: 2;
	position: relative;
	line-height: 12px;
	margin: -44px 10px;
	border-color: #20A7E1 !important;
}

.doneButton {
	width: 55px;
	height: 25px;
	font-size: 12px;
	color: #00486E!important;
	border-color: #00486E!important;
	padding: 4px 8px;
	margin: 5px 5px 0;
}

.speakButton {
	width: 55px;
	height: 25px;
	font-size: 12px;
	color: #00486E !important;
	border-color: #00486E !important;
	padding: 4px 8px;
	float: left;
}

.speakView {
	position: absolute;
    left: 40px;
    top: 5px;
}

.speaker {
	width: 16px;
}

.checkmark {
	font-size: 18px;
    color: #BEBEBE;
	position: relative;
	top: 5px;
}

.checkmarkDone {
	font-size: 30px;
	color: #4DC24E;
	position: relative;
	top: 5px;
	margin-left: 8px;
}

.button-small {
	min-height: 20px!important;
    line-height: 17px!important;
}

md-select {
	margin: 0!important;
}

.ion-ios-moon-outline:before {
	font-size: 20px;
	margin-left: 16px;
	margin-right: 8px;
}

.ion-android-sunny:before {
	margin-left: 12px;
	margin-right: 6px;
}

.ion-ios-cloud-outline:before {
	margin-left: 12px;
	margin-right: 6px;
}

._md-select-value {
	background: #DDD!important;
}

._md-select-value ._md-select-icon:after{
	color: #b2b2b2!important;
}

.nav-pills>li {
	height: 30px;
	margin: 0!important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	border-radius: 2px!important;
}

.nav-pills>li>a {
	border-radius: 0!important;
}

a.md-default-theme:not(.md-button), a:not(.md-button) {
	color: #20A7E1;
}

a.md-default-theme:not(.md-button), a:not(.md-button):hover {
	color: black!important;
}

.dateSchedule{
	margin: 18px 0 0 0!important;
	background: #EBEBED!important;
	padding: 2px;
}

.panel {
	border: none!important;
	margin-bottom: 0px !important;
}

md-input-container {
	margin: 0!important;
	padding: 0!important;
	width: 100%;
}

md-option {
	height: inherit!important;
}

.time {
	margin-top: 10px!important;
	color: #00355D;
	text-align: left;
	font-size: 12px;
	font-family: "-apple-system", "Roboto", "Segoe UI", sans-serif !important;
}

.task {
	margin: 0!important;
	padding-left: 5px!important;
	color: #00355D;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	font-family: 'Roboto Slab', serif;
	width: 130%;
}

.task i {
	color: #20A7E1;
	font-size: 25px;
	position: relative;
	top: 3px;
	left: 5px
}

.weekInfo {
	font-size: 12px!important;
	margin-top: 18px!important;
	color: #00355D;
	line-height: 12px;
}

.vAccordion--default v-pane-header {
	background: #EBEBED;
}

.taskTittle {
	margin: 10px!important;
	font-weight: bold!important;
	color: #1D3971;
}

.taskHelp {
	height: 24px;
    line-height: 0px!important;
    margin: 24px 25% -12px !important;
    font-family: inherit !important;
    padding: 16px 8px !important;
	background-color: #20A7E1 !important;
	border-color: #20A7E1 !important;
}

#profile-bg {
	position: fixed;
	left: 0;
	top: 44px;
	width: 100%;
	height: 150px;
	background-size: 100%;
	background-position: 50% 20%;
	text-align: center;
}

.profile-header {
	background: #20A7E1;
	width: auto;
	height: 100px;
}

#content {
	position: relative;
	background-color: #EAEAEA;
	padding-top: 100px;
}

.profile-content {
	padding-bottom: 24px;
}

#contentEmergency {
	position: relative;
	background-color: #EAEAEA;
	padding-top: 100px;
	padding-bottom: 24px;
	height: 200px;
}

#profile-info {
	position: absolute;
	top: -95px;
	width: 100%;
	z-index: 2;
	text-align: center;
}

#profile-name {
	color: #20A7E1;
	font-size: 24px;
	line-height: 32px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	margin: 0;
}

#profile-image {
	display: block;
	border-radius: 100px;
	border: 8px solid #EBEBED;
	width: 120px;
	height: 120px;
	margin: 36px auto 0;
}

#emergency-image {
	display: block;
	border-radius: 100px;
	border: 4px solid #20A7E1;
	width: 80px;
	height: 80px;
	margin: 110px auto 0;
}

#emergency-image-red {
	display: block;
	border-radius: 100px;
	border: 4px solid #FB3713;
	width: 80px;
	height: 80px;
}

.card {
	margin: 20px 10px 16px !important;
}

.item h2 {
	font-size: 14px !important;
	line-height: 20px !important;
}

.item h4 {
    font-size: 18px !important;
    line-height: 22px;
    font-size: inherit !important;
    color: #00486E;
    font-weight: bold;
}

.profileCard {
	background: #fff;
}

.iLiveAtIcon {
	width: 40px;
	margin: 0;
}

.helpIcon {
	width: 40px;
    margin-left: -49px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.subtitleProfile {
	color: #00355D;
	font-size: 14px !important;
	line-height: 16px;
	font-weight: bold!important;
	margin-bottom: 10px!important;
}

.subtitleEmergency {
	color: #00355D;
	font-size: 14px!important;
	line-height: 16px;
	font-weight: bold!important;
	margin-bottom: 5px;
}

.subtitleEmergency2 {
	color: #00355D;
	font-size: 18px!important;
	font-family: 'Roboto Slab', serif;
	font-weight: bold!important;
	margin-bottom: 5px;
	margin-left: 20px;
}

.emergency-card li {
	color: #4A4A4A;
	font-size: 16px;
	line-height: 21px;
	font-family: 'Roboto Slab', serif;
}

.valign {
	vertical-align: -webkit-baseline-middle;
	margin-left: -15px;
}

.helpBorder {
	border-bottom: 4px solid #fff;
}

.helpWords {
	bottom: 18px !important;
}

#helpTitle {
	color: #20A7E1;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 24px;
	text-align: center;
}

#HeadingSectionTitle {
	color: #20A7E1;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
    padding-top: 30px;
}

.Heading-Alert {
	color: #FB3713;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 20px;
}

.emergencyHeader {
	height: 80px;
	background: #fff;
}

.tabs .tab-item .home {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 60%;
  background-image: url('../img/Home_icon.png');
  background-size:contain;
  margin-top: 5px;
}

.tabs .tab-item .schedule {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 60%;
  background-image: url('../img/Schedule_icon.png');
  background-size:contain;
  margin-top: 5px;
}

.tabs .tab-item .profile {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 60%;
  background-image: url('../img/Profile_icon.png');
  background-size:contain;
  margin-top: 5px;
}

.tabs .tab-item .phrases {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 60%;
  background-image: url('../img/Phrases_icon.png');
  background-size:contain;
  margin-top: 5px;
}

.tabs .tab-item .emergency {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 60%;
  background-image: url('../img/Emergency_icon.png');
  background-size:contain;
  margin-top: 5px;
}

.dayPanel {
    background-color: #EBEBED !important;
    margin: 0 -15px 0 -15px;
    padding-bottom: 76%;
}

.weekPanel {
    background-color: #EBEBED !important;
    margin: 0 -15px 0 -15px;
}

.weekPanel h5 {
	margin-left: 15px;
}

.weekDay {
	margin-left: 15px;
    border-bottom: 1px solid #BEBEBE;
    width: 94%;
    padding-bottom: 10px;
    margin-bottom: 0;
    padding-left: 2px;
}

.taskQuantity {
	color: #20A7E1;
	font-size: 12px;
    margin-bottom: 12px;
    margin-left: 5px;
}

.success {
	background-image: url('../img/doneMarker.png') !important;
    background-repeat: no-repeat !important;
    background-position: 100.5% -1% !important;
}

.modal-backdrop{
	background-color: transparent !important;
}

.modal{
	display: block !important;
}

.custom-modal{
	width: 90%;
    min-height: 0 !important;
    height: 300px !important;
    top: 25% !important;
    left: 5% !important;
    right: 5% !important;
    bottom: 5% !important;
    background-color: transparent;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.modal-backdrop-bg{
	background-color: rgba(109, 122, 141, 0.58) !important;
}

.custom-modal .no-border-color{
	border-color: transparent !important;
}

.custom-modal ion-content{
	overflow-y: hidden;
}

h4.important {
    color: #00486e;
    margin: 20px 0 -10px 0;
}

/* HELPERS MODAL */
h4.titleH {
    color: #00486e;
    width: 80%;
    margin: 0 auto;
}

.helpers-modal {
	list-style-type: none;
}
.helpers-modal li {
    float: left;
    margin: 15px 0px 15px 15px;
}

.helpersSubtitle {
	color: #00355D;
	font-size: 16px !important;
	line-height: 16px;
	font-weight: bold!important;
	margin-bottom: 10px!important;
}

.helpers-image {
	display: block;
	border-radius: 100px;
	border: 4px solid #20A7E1;
	width: 60px;
	height: 60px;
}
